:root {
  --black-text-color: #212121;
  --gray-text-color: #757575;
  --blue-color: #2196f3;
  --gray-background-color: #f5f4fa;
  --footer-and-banner-background-color: #2f303a;
  --white-color: #ffffff;
  --social-icon-color: #afb1b8;
  --social-footer-backgraund-color: rgba(255, 255, 255, 0.1);
  --portfolio-border-color: #eeeeee;
  --features-image__text-background: rgba(47, 48, 58, 0.8);
  --blue-transparent-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --close-icon-border-color: rgba(0, 0, 0, 0.1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal__submit-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h2,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.title-h2--clients {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title-h2--clients {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
  }
}

.footer-form__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  outline: none;
  color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus {
  border-color: var(--blue-color);
}

.footer-form__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-form__btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--blue-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__btn:hover {
  background-color: var(--modal__submit-color);
}

.footer-form__icon {
  margin-left: 10px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  min-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
  position: relative;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-text-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-icon-border-color);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover {
  fill: var(--blue-color);
}

.modal__title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 12px;
}

.modal__label {
  display: block;
  margin-bottom: 10px;
}

.modal__span {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__contacts {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__contacts:focus + .modal__icon {
  fill: var(--blue-color);
}

.modal__contacts:focus {
  border-color: var(--blue-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  display: block;
  margin-bottom: 20px;
}

.modal__comment {
  display: block;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment:focus {
  border-color: var(--blue-color);
}

.modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal__checkbox:hover + .modal__label-checkbox::before,
.modal__checkbox:focus + .modal__label-checkbox::before {
  border-color: var(--blue-color);
}

.modal__checkbox:checked + .modal__label-checkbox::before {
  border: none;
  background-image: url(../images/checkbox-check.svg);
}

.modal__agreement {
  color: var(--blue-color);
  margin-left: 4px;
}

.modal__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 30px;
}

.modal__label-checkbox::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text-color);
  border-radius: 2px;
  margin-right: 8.38px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal__label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__submit {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit:hover, .modal__submit:focus {
  background-color: var(--modal__submit-color);
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo--header {
  margin-right: auto;
  padding: 24px 0 25px 0;
  color: var(--black-text-color);
}

@media screen and (max-width: 767px) {
  .logo--header {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 88px;
  }
}

.logo__header-style {
  color: var(--blue-color);
}

.nav {
  margin-right: auto;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-right: 84px;
  }
}

.nav__list {
  display: flex;
}

.nav__link {
  position: relative;
  color: var(--black-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 80px;
  padding: 32px 0 32px 0;
  display: block;
}

.nav__link.current {
  color: var(--blue-color);
}

.nav__link.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
}

.nav__link--animation, .contacts-list__link--animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--animation:hover, .contacts-list__link--animation:hover, .nav__link--animation:focus, .contacts-list__link--animation:focus {
  color: var(--blue-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
}

@media (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: block;
  }
}

.contacts-list__item:first-child {
  margin-right: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.contacts-list__link {
  color: var(--gray-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 32px 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__link {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__icon--mail {
  width: 16px;
  height: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__icon--mail {
    width: 14px;
    height: 10px;
  }
}

.contacts-list__icon--tel {
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__icon--tel {
    width: 10px;
    height: 14px;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon:hover,
.burger-btn__icon:focus {
  fill: var(--blue-color);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  padding: 48px 0 48px 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mobile-menu__icon-close:hover,
.mobile-menu__icon-close:focus {
  fill: var(--blue-color);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}

.mobile-nav__link.current {
  color: var(--blue-color);
}

.mobile-menu__list {
  margin-bottom: 64px;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--gray-text-color);
}

.mobile-menu__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--blue-color);
  margin-bottom: 32px;
}

.mobile-social {
  display: flex;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid var(--modal-border-color);
  padding-right: 10px;
  margin-right: 10px;
}

.mobile-social__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero480@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  height: 400px;
  background-size: 480px 400px;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero768@1x.jpg);
    width: 768px;
    height: 400px;
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero1200@1x.jpg);
    width: auto;
    height: 600px;
    background-size: 1600px 600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Hero1200@2x.jpg);
  }
}

.hero__titel {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__titel {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: var(--white-color);
  background-color: var(--blue-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.fiatures {
  display: block;
}

@media screen and (min-width: 768px) {
  .fiatures {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .fiatures {
    display: flex;
    justify-content: center;
  }
}

.fiatures__item {
  width: 100%;
}

.fiatures__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .fiatures__item {
    width: 354px;
  }
  .fiatures__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .fiatures__item {
    width: 270px;
  }
  .fiatures__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.fiatures__div {
  height: 120px;
  background-color: var(--gray-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  justify-content: center;
}

.features__text {
  color: var(--gray-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-image {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .features-image {
    display: block;
  }
}

.features-image .features-image__list {
  display: flex;
  justify-content: center;
}

.features-image .features-image__item {
  position: relative;
}

.features-image .features-image__item:not(:last-child) {
  margin-right: 30px;
}

.features-image .features-image__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--features-image__text-background);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients__item {
  width: 210px;
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--blue-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--blue-color);
}

.clients__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--footer-and-banner-background-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-right: 70px;
  }
}

.address__text {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.adress__link--animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link--animation:hover, .adress__link--animation:focus {
  color: var(--blue-color);
}

.address__item:first-child {
  margin-bottom: 9px;
}

.logo--footer {
  color: var(--white-color);
  margin-bottom: 20px;
}

.logo__footer-style {
  color: var(--blue-color);
}

.footer__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.footer__social {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

.footer__item {
  width: 44px;
  height: 44px;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--social-footer-backgraund-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--blue-color);
}

.footer__icon {
  fill: var(--white-color);
}

.team {
  background-color: var(--gray-background-color);
}

.team__title {
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: var(--gray-text-color);
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__list {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    width: auto;
  }
}

.team__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% / 2) - 30px);
    margin-left: 30px;
  }
  .team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% / 4) - 30px);
    margin-left: 30px;
  }
}

.team__description {
  padding: 30px 32px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__item {
  width: 44px;
  height: 44px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--blue-color);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--white-color);
}

.team-social__icon {
  fill: var(--social-icon-color);
}

.portfolio-cards-list {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .portfolio-cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.portfolio-cards-link {
  color: var(--black-text-color);
  text-decoration: none;
  display: block;
}

.portfolio-cards-link:hover, .portfolio-cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards-link:hover .portfolio-cards-link-image-text,
.portfolio-cards-link:focus .portfolio-cards-link-image-text {
  transform: translateY(0);
}

.portfolio-cards-link-image {
  position: relative;
  overflow: hidden;
}

.portfolio-cards-link-image-text {
  position: absolute;
  padding: 63px 24px;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  background-color: var(--blue-transparent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}

.portfolio-cards-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-cards-description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
}

.portfolio-cards-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-cards-text {
  color: var(--gray-text-color);
  line-height: 1.87;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item:nth-child(1) {
    margin-bottom: 15px;
  }
}

.filter-button {
  background-color: var(--gray-background-color);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.current {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */