.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: -30px;
  }
}

.clients__item {
  width: 210px;
  height: 92px;

  @media screen and (max-width: 479px) {
   &:not(:last-child){
     margin-bottom: 30px;
   }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    margin-right: 30px;

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 170px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--blue-color);
  }
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--blue-color);
  }
}
.clients__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
