.fiatures {

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.fiatures__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    text-align: center;
    }
    
  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.fiatures__div {
  height: 120px;
  background-color: var(--gray-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.features-list {
  display: flex;
  justify-content: center;
}
.features__text {
  color: var(--gray-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-image {
  display: none;
  padding-bottom: 94px;

  @media screen and (min-width: 1200px) {
    display: block;
  }

  .features-image__list {
    display: flex;
    justify-content: center;
  }

  .features-image__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .features-image__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--features-image__text-background);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
