.footer {
  background-color: var(--footer-and-banner-background-color);
  padding: 60px 0;
}
.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    display: flex;
  }
}
.footer__section {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.address__text {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}
.address__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.adress__link--animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
.address__item:first-child {
  margin-bottom: 9px;
}

.logo--footer {
  color: var(--white-color);
  margin-bottom: 20px;
}
.logo__footer-style {
  color: var(--blue-color);
}
.footer__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
.footer__social {
  display: flex;
  justify-content: center;
}
.footer__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--social-footer-backgraund-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--blue-color);
  }
}
.footer__icon {
  fill: var(--white-color);
}
