.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.logo--header {
  margin-right: auto;
  padding: 24px 0 25px 0;
  color: var(--black-text-color);

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}
.logo__header-style {
  color: var(--blue-color);
}
.nav {
  margin-right: auto;

  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-right: 84px;
  }
}
.nav__list {
  display: flex;
}
.nav__link {
  position: relative;
  color: var(--black-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 80px;
  padding: 32px 0 32px 0;
  display: block;
}
.nav__link.current {
  color: var(--blue-color);

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-color);
  }
}
.nav__link--animation {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list {
  display: flex;

  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
}
.contacts-list__item:first-child {
  margin-right: 30px;

  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.contacts-list__link {
  color: var(--gray-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 32px 0;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}
.contacts-list__link--animation {
  @extend .nav__link--animation;
}
.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-list__icon--mail {
  width: 16px;
  height: 12px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}
.contacts-list__icon--tel {
  width: 10px;
  height: 16px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}
// MOBILE VERSION
.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @media (min-width: 768px) {
    display: none;
  }
}
.burger-btn__icon:hover,
.burger-btn__icon:focus {
  fill: var(--blue-color);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  padding: 48px 0 48px 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobile-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.mobile-menu__icon-close:hover,
.mobile-menu__icon-close:focus {
  fill: var(--blue-color);
}

.mobile-nav {
  margin-bottom: auto;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}
.mobile-nav__link.current {
  color: var(--blue-color);
}
.mobile-menu__list {
  margin-bottom: 64px;
}
.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--gray-text-color);
}
.mobile-menu__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--blue-color);
  margin-bottom: 32px;
}
.mobile-social {
  display: flex;
}
.mobile-social__item:not(:last-child) {
  border-right: 1px solid var(--modal-border-color);
  padding-right: 10px;
  margin-right: 10px;
}
.mobile-social__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
