.modal {
  width: 450px;
  min-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
  position: relative;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-text-color);

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-icon-border-color);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--blue-color);
  }
}

.modal__title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 12px;
}
.modal__label {
  display: block;
  margin-bottom: 10px;
}
.modal__span {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal__contacts {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus + .modal__icon {
    fill: var(--blue-color);
  }
  &:focus {
    border-color: var(--blue-color);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  display: block;
  margin-bottom: 20px;
}
.modal__comment {
  display: block;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--blue-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--placeholder-color);
  }
}

.modal__checkbox:hover + .modal__label-checkbox::before,
.modal__checkbox:focus + .modal__label-checkbox::before {
  border-color: var(--blue-color);
}
.modal__checkbox:checked + .modal__label-checkbox::before {
  border: none;
  background-image: url(../images/checkbox-check.svg);
  background-position: center;
 
}
.modal__agreement {
  color: var(--blue-color);
  margin-left: 4px;
}
.modal__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    min-width: 16px;
    height: 15px;
    border: 2px solid var(--black-text-color);
    border-radius: 2px;
    margin-right: 8.38px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__submit {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--modal__submit-color);
  }
}
