html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--black-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  
  @media screen and (min-width: 320px) {
    overflow-x: hidden;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h2,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
