:root {
    --black-text-color: #212121;
    --gray-text-color: #757575;
    --blue-color: #2196f3;
    --gray-background-color: #f5f4fa;
    --footer-and-banner-background-color: #2f303a;
    --white-color: #ffffff;
    --social-icon-color: #afb1b8;
    --social-footer-backgraund-color: rgba(255, 255, 255, 0.1);
    --portfolio-border-color: #eeeeee;
    --features-image__text-background: rgba(47, 48, 58, 0.8);
    --blue-transparent-color: rgba(33, 150, 243, 0.9);
    --backdrop-background-color: rgba(0, 0, 0, 0.2);
    --close-icon-border-color: rgba(0, 0, 0, 0.1);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --modal__submit-color: #188ce8;
  }
  